/* layout */
body {
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    margin: 30px 100px 40px;
}
h1 {
    margin: 0;
    font-size: 40px;
}
p {
    margin: 5px 0 25px 0;
}
a {
    text-decoration: none;
}
.box {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
}
.inputLog {
    width: 500px;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0;
    border: 2px solid #B8B8B8;
    border-radius: 5px;
}
.inputText {
    width: 600px;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0;
}
.bg {
    top: 0;
    height: 100%;
    position: fixed;
    z-index: -2;
}
.login {
    height: 600px;
    margin-top: 60px;
}
.button {
    padding: 10px 70px;
    margin: 8px 0;
}

/* flex */
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.center {
    justify-content: center;
}
.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}
.algCenter {
    align-items: center;
}

/* color */
.bold {
    
    font-weight: bold;
}
.black {
    color: #1F1F21;
}
.green {
    color: #88D498;
}
.grey {
    color: #B8B8B8;
}
.white {
    color: white;
}
.bggreen {
    background-color: #88D498;
}
.bgyellow {
    background-color: #F7D64B;
}
.bggrey {
    background-color: #B8B8B8;
}
.bgwhite {
    background-color: white;
}

/* image */
#logoLog {
    height: 90px;
}