/* layout */
body {
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    margin: 30px 100px 40px;
}
nav {
    padding: 15px;
}
h1 {
    margin: 0;
    font-size: 40px;
}
p {
    margin: 5px 0 25px 0;
}
a {
    text-decoration: none;
}
.box {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.inputLog {
    width: 500px;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0;
    border: 2px solid #B8B8B8;
    border-radius: 5px;
}
.inputNav {
    width: 400px;
    height: 30px;
    margin: 0 50px;
    padding: 5px 50px;
    text-align: center;
    font-size: 20px;
}
.inputText {
    width: 600px;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0;
}
.inputShort {
    width: 300px;
    height: 30px;
    padding-left: 20px;
    margin: 10px 0;
}
.bg {
    top: 0;
    height: 100%;
    position: fixed;
    z-index: -2;
}
.login {
    height: 600px;
    margin-top: 60px;
}
.button {
    padding: 10px 70px;
    margin: 8px 0;
}

/* flex */
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.center {
    justify-content: center;
}
.between {
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}
.algCenter {
    align-items: center;
}

/* color */
.bold {
    
    font-weight: bold;
}
.black {
    color: #1F1F21;
}
.green {
    color: #88D498;
}
.grey {
    color: #B8B8B8;
}
.white {
    color: white;
}
.bggreen {
    background-color: #88D498;
}
.bgyellow {
    background-color: #F7D64B;
}
.bggrey {
    background-color: #B8B8B8;
}
.bgwhite {
    background-color: white;
}
::placeholder {
    color: #B8B8B8;
}

/* halaman_admin_penjual */
.sidenav {
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.sidenav .side {
    margin-top: 50px;
    position: relative;
}
a.button {
    display: block;
    color: #B8B8B8;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;

}
a.button#penjual {
    background-color: #88D498;
    color: white;
    border: none;
}
a.button.active { 
    background-color: #88D498;
    color: white;
}
  
a.button:hover:not(.active) { 
    background-color: #88D498;
    color: white;
}


/* tabel */
.container_t {
    margin-left: 23%;
    padding:1px 16px;
    height:1000px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
    background-color:  #e9e6e6;
    opacity: 0,5;
}

th {
  background-color:#88D498;
  color: white;
}
select {
    border: none;
    background: none;
}

/* image */
.logoLog {
    height: 90px;
}
.logoNav {
    height: 50px;
}
.search {
    background: url(../img/search-icon.svg) no-repeat scroll 20px 6px;
    background-size: 20px;
}
.iconNav {
    width: 25px;
}
.profile {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

/* dropdown */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
  }

.dropdown-content {
    display: none;
    position: absolute;
    width: 120px;
    z-index: 1;
}
  
.dropdown-content a {
float: none;
padding: 10px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
    color: white;
    background-color: #88D498;
}

.dropdown:hover .dropdown-content {
display: block;
}

select {
    width: 250px;
    padding: 8px 20px;
    margin: 10px 0;
    cursor: pointer;
}

option::before {
    padding: 8px 20px;
    cursor: pointer;
}

/* desc */
.desc {
    resize: none;
    width: 96%;
    height: 180px;
    padding: 10px 20px;
    margin: 10px 0;
}

/* image form */
.imageLabel {
    margin: 30px 0px 10px;
}
.imageOutput {
    width: 150px;
    height: 150px;
    margin-right: 50px;
}
.submitImage {
    width: 350px;
    padding: 5px;
    margin-top: 60px;
}
.fileImage {
    width: 350px;
    height: 25px;
    opacity: 0;
    position: absolute;
}
.textImage {
    margin: 10px 140px;
}